header {

  background-color: white;
  color: black;

}

.toplinks {

  color: black;

}

#header {

  background: white;
  
}


body {

  background-color: white;
  color: black;

}

div {

  background-color: black;

}
