html, body {

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: fixed;

}

header {

  width: 100%;
  height: 7vh;

  margin: 2px 0 0 0;
  margin-right: 20px;
  padding-right: 1vw;

  vertical-align: middle;
  text-align: right;
  float: right;

}

a:hover {

  text-decoration: none;

}

.toplinks {

display: inline-block;
list-style-type: none;
width: 100%;
height: 100%;
vertical-align: baseline;
background: 0;
border: 0;
margin-top: 0;
padding: 0;
text-align: right;

}

#facebook {

  width: 45px;
  height: 45px;
  display: inline-block;

}

#twitter {

  width: 45px;
  height: 45px;
  display: inline-block;

}

#instagram {

  width: 45px;
  height: 45px;
  display: inline-block;

}

.toplinks img {

  border-radius: 10px;

}





body {

  font-family: arial;
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;

}

#header {

    width: 100%;
    height: auto;
    padding: 0px;
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#headersmall {

  display: none;

}

#subtitle {

  text-align: center;
  padding: 20px;
  margin-top: -40px;
  font-size: 20px;

}





ul {

  list-style-type: none;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  border: 2px solid;
  margin-bottom: 0;

}

nav li {

  display: inline-block;
  border-right: 1px solid;
  padding-right: 20px;
  padding-left: 20px;

}

li a {

  display: inline-block;
  padding: 8px;
  text-decoration: none;
  font-size: 30px;

}

li a:hover {

  border-radius: 10px;

}

li:last-child {

  border-right: none;

}






.container1 {

  height: 200vh;

}

.background {

  background-image: url("https://i.imgur.com/4bNd42P.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-top: 0;
  display: block;

}











.googleform {

  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}

form {

  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);

}

.contactlist {

  font-size: 18px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid;
  outline: 15px solid bisque;
  padding: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
  box-sizing: content-box;
  width: 40%;
  display: block;
  background-color: white;

}

.contactlist a {

  color: black;
  text-decoration: none;

}

.contactlist a:hover {

  text-shadow: 2px 2px bisque;

}

#ptitle {
  font-size: 30px;
}









footer {

  display: block;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 10px;
  border-top: 5px double black;
  outline: 1px dashed white;

}

.footercolumn {

  float: left;
  width: 50%;

}

footer p {

  text-align: left;

}

footer img {

  width: 50px;
  border-radius: 50%;
  display: block;
  margin-left: auto;

}

footer:after {

  content: "";
  display: table;
  clear: both;

}











@media screen and (max-width: 1200px) {


  #facebook {

    width: 35px;
    height: 35px;
    display: inline-block;

  }

  #twitter {

    width: 35px;
    height: 35px;
    display: inline-block;

  }

  #instagram {

    width: 35px;
    height: 35px;
    display: inline-block;

  }

  .toplinks img {

    border-radius: 10px;

  }

  #subtitle {

    font-size: 1em;

  }

  #header {

    display: none;

    }

  #headersmall {

    width: 100%;
    height: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 0px;
    margin: auto;
    display: block;

    }

    li a {

      font-size: 1.8em;

    }

    .contactlist {

      min-width: 400px;

    }

}







@media screen and (max-width: 800px) {

#header {

  display: none;

  }

#headersmall {

  width: 100%;
  height: auto;
  padding: 0px;
  margin-top:0px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  }

  li a {

    font-size: 1.2em;

  }

  footer {

    font-size: 8px;

  }

  iframe {

    max-width: 450px;

  }

  .contactlist {

  width: 85vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  float: none;

  }

}
